.aboutme {
    width: 100vw;   
    padding: 100px clamp(15px, 5vw, 40px) 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #242629;
}

.container-about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}
.text h1 {
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 700;
    margin-bottom: 20px;
    color: #fffffe;
}
.text p {
    color: #94a1b2;
    font-weight:600;
    line-height: 1.6;
    margin-bottom: 15px;
}

.skills h2 {
    font-size: 1.5rem;
    font-weight:700;
    margin-bottom: 20px;
    color: #fffffe;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.skills-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.skill-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 12px;
    color: #94a1b2;
    background: #7f5af0;
    font-weight: 600;
}

.skill-item:hover {
    transform: translateY(-2px);
    background: #5f37d8;
    color: #fffffe;
}